REACT_APP_API=http://localhost:4000

# STEAM
REACT_APP_STEAM_API_URL=http://api.steampowered.com
REACT_APP_STEAM_API_KEY=
REACT_APP_STEAM_LANGUAGE=pt_br
REACT_APP_DOTA_APP_ID=570
REACT_APP_DOTA_IMAGES_API=http://cdn.dota2.com/apps/dota2/images

SKIP_PREFLIGHT_CHECK=true